.custom_btn {
background-color: var(--button-color)!important;
font-size: 14px;
font-weight: 500;
border: 0px;
border-radius: 50px !important;
padding: 1px 12px;
line-height: 35px;
min-width: 100px;
outline: none;
}

.custom_btn:hover {
  background-color: #D0CBC7 !important;
  
  }

.custom_btn .btn_icon_container {
  background-color: #fff;
  color: var(--button-color);
  border-radius: 50px;
  height: 27px;
  width:27px;
  line-height: 29px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content:center;
}

.custom_btn .btn_icon_container:hover {
  color: #D0CBC7 !important;
}

.custom_btn .btn_icon_container > .MuiSvgIcon-root {
font-size: 16px;
}

.custom_btn .btn_text {
font-size: 14px;
color:#fff;
text-transform:none;
text-align:center;
width:100px;
margin-right: 5px;
margin-left: 5px;
}

