.contact-page{
  background-color: #fff;
  padding-left: 10px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.contact-header {
  font-size: 32px;
  color: var(--button-color);
  font-family: 'Raleway', sans-serif;
  letter-spacing: 3px;
  text-decoration: underline dotted;
  padding-bottom:20px;
}

input[type=text], select {
  width: 50%;
  padding: 8px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=email], select {
  width: 50%;
  padding: 8px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


.contact-div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.contact-label {
  font-size: 16px;
  color: #676767;
  font-family: 'Raleway', sans-serif;
}

textarea {
  width: 50%;
  height: 100px;
  padding: 12px 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  resize: none;
  border-radius: 4px;
  box-sizing: border-box;
}