:root {
  --button-color: #6e8b6a;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(236, 233, 233);
}

.profile {
  background-color: #fff;
}

p {
  font-size: 15px;
  color: #676767;
  font-family: "Raleway", sans-serif;
}
